<h1>Editando al grupo: <%= @group.name %></h1>

<%= render 'form', group: @group %>

<%#= link_to 'Ver', @group, class: "btn btn-outline-success" %>
<%#= link_to 'Volver', groups_path, class: "btn btn-outline-primary" %>
